.so-widget-sow-features-features-30bb6e4a8efc .sow-features-list .sow-features-feature .textwidget > p {
  font-size: 24;
  
}
.so-widget-sow-features-features-30bb6e4a8efc .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-size: 16;
  color: #5d90bf;
}