.so-widget-sow-features-features-edebf5109771 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-size: px;
  
}
.so-widget-sow-features-features-edebf5109771 .sow-features-list .sow-features-feature .textwidget > p {
  font-size: 24px;
  
}
.so-widget-sow-features-features-edebf5109771 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-size: 16px;
  color: #5d90bf;
}