.so-widget-sow-features-features-d44ea40b9233 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-size: px;
  
}
.so-widget-sow-features-features-d44ea40b9233 .sow-features-list .sow-features-feature .textwidget > p {
  font-size: 24px;
  
}
.so-widget-sow-features-features-d44ea40b9233 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-size: px;
  
}