.so-widget-sow-cta-basic-7b37028ef79f .sow-cta-base {
  border-color: #E3E3E3;
  background-color: #F8F8F8;
}
.so-widget-sow-cta-basic-7b37028ef79f .sow-cta-base .sow-cta-text {
  float: right;
}
.so-widget-sow-cta-basic-7b37028ef79f .sow-cta-base .so-widget-sow-button {
  float: left;
  margin-right: 1em;
}